{% load socialaccount %}

<html lang="ko">
    {% load static %}
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

    </head>

    <body>

        <!-- Responsive navbar-->
        <nav class="py-3 navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container">
                <a class="navbar-brand" href="/">Here's to Better Us</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-4"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item mx-4"><a class="nav-link" href="/about/">About</a></li>
                        <li class="nav-item mx-4"><a class="nav-link" aria-current="page" href="/blog/">Blog</a>
                        </li>
                    </ul>

                    <!-- sign in -->
                    {% if user.is_authenticated %}
                    <div class="navbar-nav ms-auto">
                        <div class="nav-item dropdown-center">
                            <a href="#" class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="-30,0">
                                {{user.username}}
                            </a>
                            <ul class="dropdown-menu" >
                                <li><a href="/accounts/logout/" class="dropdown-item">Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#SignInModal">Log In</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- Modal -->
        <div class="modal fade" id="SignInModal" tabindex="-1" aria-labelledby="SignInModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SignInModalLabel"><i class="fa-solid fa-arrow-right-to-bracket"></i>
                            Sign In</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a role="button" class="btn btn-outline-dark col-12 my-2 btn-sm" href="{% provider_login_url 'google' %}"><i
                                        class="fa-brands fa-google"></i>&nbsp&nbsp Log in with Google</a>
                            </div>
                            <div class="col-md-6">
                                <a role="button" class="btn btn-outline-dark col-12 my-2 btn-sm" href="/accounts/login/" ><i
                                        class="fa-regular fa-envelope"></i>&nbsp&nbsp Log in with Email</a>
                            </div>
                            <div class="col-md-6">
                                <a role="button" class="btn btn-outline-dark col-12 my-2 btn-sm" href="/accounts/signup/"><i
                                        class="far fa-envelope"></i>&nbsp&nbsp Register with Email</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"crossorigin="anonymous"></script>
    </body>

</html>