{% extends 'blog/base.html' %}

{% block main_area %}

<h1>
    {% if search_info %}
        <small class="">
            {{ search_info}}
        </small>
    {% else %}
        {%if category %}
            {{ category }}
        {%else%}
            Contents
        {%endif%}
    {% endif %}

    {% if tag %}
        <span id="tag-badge" class="badge bg-light"><a class="text-decoration-none text-dark" href="{{tag.get_absolute_url}}">#{{ tag }} ({{tag.post_set.count}})</a></span>
    {% endif %}

    {% if user.is_authenticated %}
        <a class="btn btn-primary btn-sm float-end mt-4" href="/blog/create_post/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;Post</a>
    {% endif %}
    <hr/>
</h1>


<!-- Featured blog post-->
    {% if post_list.exists %}
    {% for p in post_list %}
    <div class="card mb-4" id="post-{{ p.pk }}">

        <a href="{{p.get_absolute_url}}">
            {% if p.head_image %}
            <img class="card-img-top list-image" src="{{ p.head_image.url }}" alt="{{p}} head image"/>
            {% else %}
            <img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/800/300" alt="random image">
            {% endif %}
        </a>

        <div class="card-body post-content">
            {% if p.category %}
            <a class="text-decoration-none" href="{{ p.category.get_absolute_url}}">
                <span class="badge bg-secondary float-end">{{ p.category }}</span>
            </a>
            {% else %}
            <a href="/blog/category/no_category"><span class="badge bg-secondary float-end">미분류</span></a>
            {% endif %}

            <a class="text-decoration-none" href="{{p.get_absolute_url}}">
                <h3 class="card-title text-dark">{{ p.title }}</h3>
            </a>

            {% if p.hook_text %}
            <h6 class="text-muted post-content">{{ p.hook_text }}</h6>
            {% endif %}
            <p class="card-text post-content">{{ p.get_content_markdown | truncatewords_html:45 | safe }}</p>
            <!--        <a class="btn btn-primary " href="{{p.get_absolute_url}}">Read more</a>-->
        </div>

        <div class="card-footer text-muted d-flex justify-content-between">
            <div>
                {{ p.created_at | date }}
             <a href="#"> {{p.author}}</a>
            </div>
            <div >
                {% if p.tags.exists %}
                    {% for tag in p.tags.iterator %}
                    <a class="text-decoration-none" href="{{tag.get_absolute_url}}">
                        <span class="badge text-bg-light">#{{tag}}</span>
                    </a>
                  {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>

    {% endfor %}
{% else %}
    <h3>No content yet.</h3>
{% endif %}

<!-- Pagination-->
{% if is_paginated %}
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center my-4">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number}}"> &larr; </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link"> &larr; </a>
            </li>
        {% endif %}


        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number}}"> &rarr; </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> &rarr; </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}