{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
<!--Bring head_title block from file that extends base.html-->
<!-- if not, use title from base.html -->
{% block head_title %}
{{ post.title }} - Blog
{% endblock %}

{% block main_area %}
<article class="my-4 px-4 post-content" id="post-area">
    <header class="">
        <h1 class="fw-bolder mb-4">
        {% if post.category %}
        <a class="text-decoration-none text-dark" href="{{ post.category.get_absolute_url}}">
        <span >{{ post.category }} / </span></a>
        {% else %}
        <a href="/blog/category/no_category text-dark"><span ></span></a>
        {% endif %}
            {{ post.title}}
        </h1>

        <div class="text-muted post-detail-meta row">
            <div class="col-9 d-flex flex-column ">
                <div class="">
                    <p class="my-0">{{ post.created_at}} by&nbsp;<a href="#" class="text-decoration-none ">{{post.author}}</a></p>

                {% if post.created_at != post.updated_at %}
                    <p class="">{{ post.updated_at }} (Updated)</p>
                {% endif %}
                </div>


            </div>
            <div class="col-3 my-auto">
                {% if user.is_authenticated and user == post.author %}
                    <a class="btn btn-sm float-end" href="/blog/update_post/{{post.pk}}/" role="button">
                        <i class="fas fa-pen"></i> Edit
                    </a>
                {% endif %}
            </div>
        </div>

    </header>

    <!-- Preview image figure-->
    <figure class="my-5 d-flex justify-content-center">
        {% if post.head_image %}
        <img class="card-img-top detail-image" src="{{ post.head_image.url }}" alt="{{post}} head image" />
        {% endif %}
    </figure>

    <!-- Post content-->
    <section class="my-4">
        <!-- safe prevents HTML escaping-->
        <!-- rendering HTML used tags into HTML entity -->
        <p class="post-content fs-5 mb-4">{{post.get_content_markdown | safe }}</p>

        <!-- <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2> -->
    </section>

    <section class="my-3 d-flex justify-content-end">
        {% if post.file_upload %}
        <a class="btn btn-outline-dark" href="{{ post.file_upload.url }}" role="button" download>
            {% if post.get_file_ext == 'csv' %}
            <i class="fas fa-file-csv"></i>
            {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls'%}
                <i class="fas fa-file-excel"></i>
            {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc'%}
                <i class="fas fa-file-word"></i>
            {% else %}
            <i class="far fa-file"></i>
            {% endif %}
            {{post.get_file_name}}
        </a>
        {% endif %}
    </section>

    <div class="d-flex justify-content-end">
        {% if post.tags.exists %}
            {% for tag in post.tags.iterator %}
            <a class="text-decoration-none" href="{{tag.get_absolute_url}}">
                <span class="badge text-bg-light">#{{tag}}</span>
            </a>
          {% endfor %}
        {% endif %}
    </div>

</article>

<!-- Comments section-->
<section class="my-7" id="comment-area">
    <div class="card bg-light">
        <h5 class="card-header">Comments</h5>
        <div class="card-body">

            {% if user.is_authenticated %}
            <form method="POST" action="{{post.get_absolute_url}}new_comment/">
                {% csrf_token %}
                    {{ comment_form | crispy }}
                <button type="submit" class="btn btn-primary ">Submit</button>
            </form>

            {% else %}
            <div class="d-grid gap-2">
                <a href="#" role="button" class="btn btn-outline-dark btn-block"
                   data-bs-toggle="modal"
                   data-bs-target="#SignInModal">Log in to leave a comment</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% if post.comment_set.exists %}
        {% for comment in post.comment_set.iterator %}
            <div class="card bg-light mt-2 my-5">
                <div class="card-body">
                    <div class="d-flex " id="comment-{{ comment.pk }}">
                        <div class="flex-shrink-0 "><img class="rounded-circle comment-profile-picture"
                                src="{{ comment.get_avatar_url }}" alt="comment.author" />
                        </div>
                        <div class="ms-3 w-100">
                            <div class="d-flex justify-content-between w-100" >
                                <div class="fw-bold">
                                    {{ comment.author.username }}
                                    &nbsp;&nbsp;<small class="text-muted">{{comment.created_at}}</small>
                                </div>

                                <div>
                                    {% if user.is_authenticated and comment.author == user %}
                                        <a role="button"
                                           class="btn btn-sm float-end delete-button"
                                           id="comment-{{ comment.pk}}-delete-btn"
                                           href="/blog/delete_comment/{{ comment.pk }}">
                                            delete
                                        </a>

                                        <a role="button"
                                           class="btn btn-sm float-end edit-button"
                                           id="comment-{{ comment.pk}}-update-btn"
                                           href="/blog/update_comment/{{comment.pk}}/">
                                            edit
                                        </a>

                                    {% endif %}

                                </div>

                            </div>

                            <p class="comment-p">{{ comment.content | linebreaks }}</p>

                            {% if comment.created_at != comment.updated_at %}
                                <p class="text-muted float-end">
                                    <small>Updated: {{ comment.updated_at }}</small>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock %}

