
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

body{
    font-family: 'Playfair Display', serif;
    color:  #515751;
}

a{
    color: #515751;
}

nav, footer, .color-background {
    background-color: #2B4162;
    color: #E4DFDA;
}

.navbar-brand{
    width: 30%;
}
.post-content, .card, .korean{
    font-family: 'Noto Serif KR', serif;
    line-height: normal;
}

.navbar{
    height: 80px;
    border-bottom: 1px solid white;
    box-sizing: content-box;
}

.nav-link{
    line-height: 77px;
    padding: 0;
    height: 80px;
}

.nav-link:hover{
    background-color: #BEA379;
    color: #2B4162;
    border-right: 1px solid white;
    border-left: 1px solid white;
}


.navbar-username{
    text-decoration: none;
    color: #b3afab;
}

.navbar-username:hover{
    color: #E4DFDA;
}

.landing-header {
    color: black;
    padding: 50vh 0 50vh;
    background: url('/static/blog/images/paper_sky.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
    -o-background-size: cover;
}

.landing-h1-black{
    transition: all 0.5s ease;
}

.landing-h1-black:hover{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 3px #F5F0F6, 0 0 6px #F5F0F6;

}

.landing-h1-white{
    color: white;
    margin: 0 0;
    padding: 20vh 0;
}

.landing-video {
    padding: 30vh 0 30vh;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
    -o-background-size: cover;
}

.landing-bottom{
    padding: 35vh 0;
    background-color: #385F71;
}

.list-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.detail-image{
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.post-detail-meta {
    font-size: 14px;
}

.about {
    height: 100%;
    object-fit: cover;
}

.about-background{
    padding: 0 0;
    height:110vh;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.background-black {
}

.comment-profile-picture{
    width: 50px;
    height: 50px;
}

.delete-button:hover{
    background-color: #A22C29;
    color: white;
}
.edit-button:hover{
    background-color: #3C5233;
    color: white;
}
.comment-field{
height: 50px;
}
